<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">-->
<!--        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">-->
<!--&lt;!&ndash;            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="../assets/brand/tur-murom-logo-white.svg"/></svg>&ndash;&gt;-->
<!--            <img class="bi me-2" width="40" height="32" src="/assets/brand/tur-murom-logo-dark.svg">-->
<!--        </a>-->

<!--        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">-->
<!--            <li><a th:href="@{/}" class="nav-link px-2 link-secondary">Главная</a></li>-->
<!--            <li th:class="${activePage == 'categories'} ? 'nav-item active' : 'nav-item'"><a th:href="@{/categories}" class="nav-link px-2 link-dark">Категории</a></li>-->
<!--            <li th:class="${activePage == 'places'} ? 'nav-item active' : 'nav-item'"><a th:href="@{/places}" class="nav-link px-2 link-dark">Достопримечательности</a></li>-->
<!--            <li th:class="${activePage == 'routes'} ? 'nav-item active' : 'nav-item'"><a th:href="@{/routes}" class="nav-link px-2 link-dark">Маршруты</a></li>-->
<!--            <li><a th:href="@{/guides}" class="nav-link px-2 link-dark">Гиды</a></li>-->
<!--            <li><a th:href="@{/excursions}" class="nav-link px-2 link-dark">Экскурсии</a></li>-->
<!--        </ul>-->

<!--        <div class="col-md-3 text-end">-->
<!--            <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
<!--            <button type="button" class="btn btn-primary">Sign-up</button>-->
<!--        </div>-->
<!--    </header>-->

<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark py-3 border-bottom" th:fragment="navigation">
    <div class="container-xl">
        <a th:href="@{/}" class="mb-md-0">
            <img class="bi me-2" width="48" height="40" src="/assets/brand/tur-murom-logo-white.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
                aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a th:href="@{/}" aria-current="page"
                                        th:class="${activePage == 'home'} ? 'nav-link active' : 'nav-link'">Главная</a>
                </li>
                <li class="nav-item"><a th:href="@{/map}"
                                        th:class="${activePage == 'map'} ? 'nav-link active' : 'nav-link'">Карта</a>
                </li>
                <li class="nav-item"><a th:href="@{/categories}"
                                        th:class="${activePage == 'categories'} ? 'nav-link active' : 'nav-link'">Категории</a>
                </li>
                <li class="nav-item"><a th:href="@{/places}"
                                        th:class="${activePage == 'places'} ? 'nav-link active' : 'nav-link'">Достопримечательности</a>
                </li>
                <li class="nav-item"><a th:href="@{/routes/1?sortField=title&sortDir=asc&scheme=card}"
                                        th:class="${activePage == 'routes'} ? 'nav-link active' : 'nav-link'">Маршруты</a>
                </li>
                <li class="nav-item"><a th:href="@{/guides/1?sortField=lastName&sortDir=asc&scheme=list}"
                                        th:class="${activePage == 'guides'} ? 'nav-link active' : 'nav-link'">Гиды</a>
                </li>
                <li class="nav-item"><a th:href="@{/excursions}"
                                        th:class="${activePage == 'excursions'} ? 'nav-link active' : 'nav-link'">Экскурсии</a>
                </li>

                <!--                    //////-->

                <!--                    <li class="nav-item dropdown">-->
                <!--                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>-->
                <!--                        <ul class="dropdown-menu">-->
                <!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
                <!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
                <!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                <!--                        </ul>-->
                <!--                    </li>-->
            </ul>
            <!--                <form role="search">-->
            <!--                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
            <!--                </form>-->
            <div class="col-md-3 text-end">
                <div class="btn-group" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-outline-light me-2">Войти</a>
                    <a th:href="@{/sign_up}" class="btn btn-warning">Зарегистрироваться</a>
                </div>
            </div>
                <div class="dropdown text-end" sec:authorize="isAuthenticated()">
                    <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/brand/profile_icon.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <span sec:authentication="principal.firstName"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small">
                        <li><a class="dropdown-item" th:href="@{/profile}">Профиль</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" href="/admin_cabinet/1?sortField=lastName&sortDir=asc">Администрирование</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Выйти</a></li>
                    </ul>
                </div>

        </div>
    </div>
</nav>
</body>
</html>